.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#settings {
  align-items: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style-type: none;
}
button {
  border-style: none;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  text-shadow: darkblue 1px 1px;
  }
  button:hover {
    background-color: rgb(112, 6, 6);
  }
#mainDiv {
  border-style: solid;
}
.unitsDiv {
  border-style: solid;
}
.tempSwipe {
  width: 100%;
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.swipeNum {
  display: inline-block;
  width: 50px;
  height: 50px;
}