.App {
  text-align: center;
  min-width: 250px;
  max-width: none;
}


.App-header {
  background-color: #282c34;
  

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#settings {
  align-items: center;
}


ul {
  list-style-type: none;
}
button {
  border-style: none;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  text-shadow: darkblue 1px 1px;
  }
  button:hover {
    background-color: rgb(112, 6, 6);
  }
#mainDiv {
  border-style: solid;
}
.unitsDiv {
  border-style: solid;


}
.tempSwipe {
  display: flex;
  flex-wrap: nowrap;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;

  
}
.swipeNum {
font-size: 30px;
background-color: red;
margin: 20px;
padding: 10px;
height: 40px;
width: 55px;
border-radius: 10px;
color: white;
text-shadow: 1px 1px grey;
}
.swipeNum:hover {
  background-color: black;
}